version: '3'
services:
  postgresql:
    image: postgres:17.0-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7.4.0-alpine
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data
volumes:
  postgres_data:
  redis_data:
