.hero.my-10
  .hero-content
    .card.bg-base-200.shadow-lg
      .card-body.mx-20.my-10
        .grid.grid-cols-1.lg:grid-cols-2.gap-20
          .order-last.lg:order-first
            = heading
            = description
            = list
          = image
