test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

s3:
  service: S3
  endpoint: <%= Settings.s3.endpoint %>
  region: <%= Settings.s3.region %>
  bucket: <%= Settings.s3.bucket %>
  access_key_id: <%= Settings.s3.access_key_id %>
  secret_access_key: <%= Settings.s3.secret_access_key %>
