- if @resource.try(:unconfirmed_email?)
  = t('.instructions.1.unconfirmed_email', email: @resource.unconfirmed_email)
- else
  = t('.instructions.1.confirmed_email', email: @resource.email)
\
= t('.instructions.2')
\
= t('.instructions.3', email: Settings.mail.support)
