We wanted to notify you that your password for #{Settings.app.name.humanize} has been changed.
\
If this change was authorized by you, no further action is needed.
\
If you did not request this change, please contact our support team at #{Settings.mail.support}
immediately to secure your account.
