= render_component(Mailer::TextComponent) { t('.instructions.1', app: Settings.app.name.humanize) }
= render_component(Mailer::TextComponent) { t('.instructions.2') }
= render_component(Mailer::TextComponent) { t('.instructions.3', email: Settings.mail.support) }
