= render_component(Mailer::TextComponent) do
  To reset your password, click the link below:
= render_component(Mailer::ButtonComponent, href: edit_password_url(@resource, reset_password_token: @token)) do
  Change my password
= render_component(Mailer::TextComponent) do
  If you didn't request this change, you can ignore this email.
  Your password won't change until you access the link above and create a new one.
