= render_component(Mailer::TextComponent) { t('.instructions.1') }
= render_component(Mailer::ButtonComponent, href: edit_password_url(@resource, reset_password_token: @token)) do
  = t('.reset_password')
= render_component(Mailer::TextComponent) { t('.instructions.2') }
